header{
    text-align: center;
    font-family: sans-serif;
    font-weight: 400;
    border-bottom: 0.1em solid black;
    background: #fff
}

header > h1 {
    font-size: 4em;
    margin-bottom: 0.5em;
    margin-top: 0.25em;
}

header > h3 {
    margin-top: 0.5em; 
    margin-bottom: 0.75em;
    font-size: 2em;
    color:#777777;
}

#tile-container {
    margin-left: 0%;
    margin-right: 0%;
    /*background-image: url('England.jpg')*/
}

#tile-container::after {
    content: "";
    background: url('England.jpg');
    opacity: 0.2;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
  }

.tile{
    text-align: center;
    display:inline-block;
    font-family: sans-serif;
    width: 32.9%;
    margin: 0em;
    border: 0em;
    border: 0.1em solid grey;
    margin-top: 2em;
    height:  10em;
    background-color: #ffffff;
}

.tile-title{
    font-size:1.5em;
    margin-top:0.5em;
}