<html lang="en">
  <head>
    <title>The History of England</title>
    <link rel="stylesheet" href="main.css">
  </head>
  <body>
    <header>
      <h1>The History of England</h1>
      <h3>By the Students of the Acera School Elective</h2>
    </header>
    <div id="tile-container">
      <div class="tile">
        <h3 class = 'tile-title'>Tile 1</h3>  
      </div>

      <div class = 'tile'>
        <h3 class = 'tile-title'>Tile 2</h3>
      </div>

      <div class = 'tile'>
        <h3 class = 'tile-title'>Tile 3</h3>
      </div>
    </div>
  </body>
</html>