<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>The Written History of England &mdash; Acera School</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/aos.min.css">
    <link rel="stylesheet" href="css/hamburgers/hamburgers.min.css">
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="fonts/icomoon/style.css">
    <link rel="stylesheet" href="css/animsition.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>

  <div class="js-animsition animsition" data-animsition-in-class="fade-in" data-animsition-out-class="fade-out">

    <header class="templateux-navbar" data-aos="fade-down">
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-3 col-3"><div class="site-logo"><a href="index.html" class="animsition-link">The Written History of England</a></div></div>
          <div class="col-sm-9 col-9 text-right">

            <button class="hamburger hamburger--spin toggle-menu ml-auto js-toggle-menu" type="button">
              <span class="hamburger-box">
                <span class="hamburger-inner"></span>
              </span>
            </button>

            <nav class="templateux-menu js-templateux-menu" role="navigation">
              <ul class="list-unstyled">
                <li class="d-md-none d-block active"><a href="index.html" class="animsition-link">Home</a></li>
                <li><a href="articles.html" class="animsition-link">Articles</a></li>
                <li><a href="about.html" class="animsition-link">About</a></li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </header>

    <!-- END templateux-navbar -->
    <section class="templateux-hero">
      <div class="container">
        <div class="row align-items-center justify-content-center intro">
          <div class="col-md-10" data-aos="fade-up">
            <h1>The Written History of England.</h1>
            <h2>A Spring 2019 Elective at the Acera School.</h2>
            <a href="#next" class="go-down js-smoothscroll"></a>
          </div>
        </div>
      </div>
    </section>
    <!-- END templateux-hero -->

    <section class="templateux-section" id="next">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-4" data-aos="fade-up">
            <h2 class="section-heading mt-3">About the Elective</h2>
          </div>
          <div class="col-md-8" data-aos="fade-up" data-aos-delay="100">

            <div class="row">
              <div class="col-md-12">
                <h2 class="mb-5">In this elective, students researched portions of the history of England and wrote about them. The writing is compilied here and on the <a href="articles.html" class="animsition-link">Articles</a> page.</h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- END section -->

    <section class="templateux-portfolio-overlap">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-6" data-aos="fade-up">
            <a class="project animsition-link" href="TheVikingAge.html">
              <figure>
                <img src="images/img_1.jpg" alt="Free Template" class="img-fluid">
              </figure>
              <div class="project-hover">
                <div class="project-hover-inner">
                  <h2>The Viking Age</h2>
                  <span>View Article</span>
                </div>
              </div>
            </a>
          </div>
          <div class="col-md-6" data-aos="fade-up" data-aos-delay="100">
            <a class="project animsition-link" href="work-single.html">
              <figure>
                <img src="images/30spl9.gif" alt="Free Template" class="img-fluid">
              </figure>
              <div class="project-hover">
                <div class="project-hover-inner">
                  <h2>Article 2</h2>
                  <span>View Article</span>
                </div>
              </div>
            </a>
          </div>
        </div>
        <!-- END row -->

        <div class="row">
          <div class="col-lg-4 col-md-6" data-aos="fade-up">
            <a class="project animsition-link" href="work-single.html">
              <figure>
                <img src="images/img_3.jpg" alt="Free Template" class="img-fluid">
              </figure>
              <div class="project-hover">
                <div class="project-hover-inner">
                  <h2>Article 3</h2>
                  <span>View Article</span>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
            <a class="project animsition-link" href="work-single.html">
              <figure>
                <img src="images/img_4.jpg" alt="Free Template" class="img-fluid">
              </figure>
              <div class="project-hover">
                <div class="project-hover-inner">
                  <h2>Article 4</h2>
                  <span>View Article</span>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
            <a class="project animsition-link" href="work-single.html">
              <figure>
                <img src="images/img_5.jpg" alt="Free Template" class="img-fluid">
              </figure>
              <div class="project-hover">
                <div class="project-hover-inner">
                  <h2>Article 5</h2>
                  <span>View Article</span>
                </div>
              </div>
            </a>
          </div>

        </div>
        <!-- END row -->
      </div>
    </section>


    <!-- END section -->


    <footer class="templateux-footer">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-6 text-md-left text-center">
            <p>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            Copyright &copy; <script>document.write(new Date().getFullYear());</script> <a href="www.aceraschool.org">Acera School</a>. All rights reserved. Information must be cited as a reference.
          </p>
            <p>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            Template by <a href="https://colorlib.com" target="_blank" class="text-primary">Colorlib</a>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
          </p>
          </div>
          <div class="col-md-6 text-md-right text-center footer-social">
            <p class="text-right mb-5"><img width="200" src="images/ACERA_Logo_Final.svg" alt="Acera School, aceraschool.org" class="img-fluid" href="www.aceraschool.org"></p>
          </div>
        </div>
      </div>
    </footer>

  </div>


  <script src="js/scripts-all.js"></script>
  <script src="js/main.js"></script>

  </body>
</html>
